
doctype html
html(lang="en")
    include ./includes/head.jade

    body
        .app(ng-app='app' ng-controller='ctrl')
            nav
                ul
                    li.nav-elem(ng-repeat="x in content" class="{{ x.stub }}") {{ x.header }}

            .content
                article(ng-repeat="x in content")
                    h2 {{ x.header }}
                    section(ng-repeat="s in x.text") {{ s }}


