
doctype html
html(lang="en")
    include ./includes/head.jade

    body
        .app(ng-app='app' ng-controller='ctrl')
            nav
                ul
                    li.nav-elem(ng-repeat="x in content.content" class="{{ x.stub }}") {{ x.stub }}

            .content
                article(ng-repeat="x in content.content" class="{{ x.stub }}")
                    h2 {{ x.stub }}
                    section(class="{{ x.stub }}") {{ x.text }}


