
doctype html
html(lang="en")
    include ./includes/head.jade

    body
        div(ng-app='app' ng-controller='ctrl')
            nav
                ul
                    li(ng-repeat="x in content.content" class="{{ x.stub }}") {{ x.text }}

            .content

