include ./constants.jade

head
    title= constants.pageTitle
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    script(src="/js/script.js")


