body
    background-color black
    color white


header()
    font-family 'Roboto Condensed'
    font-weight  700

text()
    font-family 'Roboto Slab'

block()
    margin 2rem
    padding 1rem 1rem
    lighter 0.2

no-block()
    margin 0
    border none
    padding 0

lighter(transparency)
    background-color rgba(255, 255, 255, transparency)

inline()
    display inline-block

center(h w)
    height h
    width w
    line-height h

    text-align center
    vertical-align middle

dot(r)
    float left
    position relative
    left 0 - (r / 3) * 2

    center r r

    border-radius r
    padding r/3

nav
    block()

nav ul
    no-block()

nav ul li
    inline()
    block()
    header()

.content
    block()
    lighter 0.2

article
    block()
    lighter 0.2

section
    block()
    width 60em
    lighter 0.2
    text()

h1,h2,h3,h4,h5,h6
    header()

hr
    border none
    border-bottom dotted 1rem
    width 5rem
    height 0

ol
    margin-left 0
    padding-right 0
    list-style-type none

ol li
    counter-increment counter

ol li::before

    content counter(counter)

    dot 3rem
    text()

    lighter 0.2

.try p
    display none
