body
    background-color black
    color white


header()
    font-family 'Roboto Condensed'
    font-weight  700

text()
    font-family 'Roboto Slab'

block()
    margin 2ex
    padding 2ex 1em
    lighter 0.2

no-block()
    margin 0
    border none
    padding 0

lighter(transparency)
    background-color rgba(255, 255, 255, transparency)

darker(transparency)
    background-color rgba(0, 0, 0, transparency)

inline()
    display inline-block

unselectable()
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

active()
    unselectable()
    &:hover
        background black



nav
    block()

nav ul
    no-block()

nav ul li
    inline()
    block()
    header()
    active()

.content
    block()
    lighter 0.2

article
    block()
    lighter 0.2
    position relative
    display none

article.visible
    display block

section
    block()
    background: black
    darker 0.2
    text()

h1,h2,h3,h4,h5,h6
    header()

